<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>AnonymLog</title>
</head>
<body>
<div class="container">
    <h1 style="margin-top:10%"><a href="/home">VisitLog</a></h1>
    <form action="" method="post" th:object="${post}">
        <div class="d-flex justify-content-center font-color" style="margin-top:70px; margin-right:60px">
            <span>작성자 : </span>
            <input type="text" th:field="*{writer}" th:errorclass="field-error">
        </div>
        <div class="d-flex justify-content-center field-error" style="color: deeppink" th:errors="*{writer}">공백 X</div>

        <div class="d-flex justify-content-center font-color" style="margin-top:10px">
            <span>비밀번호 : </span>
            <input type="text" th:field="*{password}" th:errorclass="field-error">
            <label style="margin-left:20px;">익명 </label>
            <input type="checkbox" id="check-box" th:field="*{isBlind}">
        </div>
        <div class="d-flex justify-content-center field-error" style="color: deeppink" th:errors="*{password}">공백 X</div>

        <div class="d-flex justify-content-center font-color" style="margin-top:10px">
            <span>제목 : </span>
            <textarea id="title" cols="55" rows="1" th:field="*{title}" th:errorclass="field-error"></textarea>
        </div>
        <div class="d-flex justify-content-center field-error" style="color: deeppink" th:errors="*{title}">공백 X</div>

        <div class="d-flex justify-content-center" style="margin-top:20px">
            <textarea name="content" cols="100" rows="15" th:field="*{content}" th:errorclass="field-error"></textarea>
        </div>
        <div class="d-flex justify-content-center field-error" style="color: deeppink" th:errors="*{content}">공백 X</div>

        <div class="d-flex justify-content-center">
            <div>
                <button class="custom-btn" style="width: 200px;" type="submit">수정완료</button>
            </div>
            <div>
                <button class="custom-btn" style="width: 200px;" id="delete-btn" type="button"
                th:onclick="|location.href='@{/board/post/delete/{id} (id=${postId})}'|">삭제하기</button>
            </div>
            <div>
                <button class="custom-btn" style="width: 200px;" type="button"
                        onclick="location.href='/board/list'">리스트</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    var id = [[${postId}]];
    console.log("id="+id);
</script>
</body>
</html>